body{
  font-family: 'Mukta Malar', sans-serif;
  background-color:white;
}
a,a:visited{
  text-decoration: none;
  color:black;
}
#header{
  margin-top:20px;
  text-align: left;
}
#title{
  font-size: 30px;
}
.headerLink{
  display: inline-block;
  transition: all 0.6s ease;
}
.headerLink:hover{
  color: blue;
  cursor: cell;
  /* background-color: blue; */
}
img{
  width:700px;
  display:block;
  margin:auto;
  margin-top:30px;
}
.wrapper,.infowrapper{
  margin:auto;
}
.infowrapper a,.infowrapper a:visited{
  color:blue;
  cursor: help;
}
.indexWorks img{
  display:block;
  text-align: center;
}
.indexWorks{
  text-align: center;
}

video{
  width:700px;
  display:block;
  margin:auto;
  margin-top:30px;
}
.indexWorks video{
  display:block;
  text-align: center;
}

.label{
  /* text-align: right; */
  position:fixed;
  left:2px;
  bottom:2px;
  /* background-color: white; */
  z-index: 1;
  padding:10px;
  font-size:15px;
}
.label:hover{
  cursor:crosshair;
}
.workTitle{
  font-weight:bold;
  letter-spacing: 1px;
}
.buffer{height:100px;}
.info{
  margin-top:100px;
  text-align: center;
}
